body{
	font-family: Calibri, Tahoma, Arial;
}
.all{
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.generalBox{
	background-color: lightblue;
	border-radius: 0.2em;
	
}
.searchBox{
	margin-bottom: 15px;
	padding: 10px;
	padding-bottom: 0px;
}
.mainTable{
	border-radius: 0em;
	margin-bottom: 15px;
	padding: 2px;
	padding-bottom: 8px;
	font-size: 14px;
	max-width: 750px;
}
.pagination{
	margin: 0 auto;
	width: 200px;
}
.mainTableRow{
	background-color: white;
	margin-bottom: 1px;
	display: block;
	height: 20px;
	width: 750px;
	cursor: default;
	overflow: visible;
}
.mainTableRow:hover{
	background-color: #eef;
}
.cell{
	float: left;
	width: 80px;
	margin-left: 2px;
	border-right: 1px solid lightblue;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: -2px;
	padding-bottom: 1px;
	overflow: scroll;
	white-space: nowrap;
	background-color: rgba(54, 25, 25, 0);
}
.headRow{
	margin-bottom: 1px;
	display: block;
	height: 20px;
	width: 750px;
	cursor: default;
	text-align: center;
	font-weight: bold;
	background-color: #59b;
	color: white;
}
.titleCell{
	width: 90px;
}
.projectCell{
	width: 103px;
}
.videoCell{
	width: 103px;
}
.tagCell{
	width: 50px;
}
.tracedByCell{
	width: 60px;
}
.experimentCell{
	width: 70px;
}
.wordCell{
	max-width: 111px;
	border-right: 0px;
}
.thickBottom{
	border-bottom: 2px solid lightblue;
}
.shaded{
	background-color: #efefef;
	color: grey;
}
#rightClickMenu{
	background-color: #fff;
	border-radius: 0.2em;
	border: 1px grey solid;
	padding-top: 4px;
	padding-bottom: 4px;
	height: 106px;
	width: 190px;
	box-shadow: 2px 2px 2px #ccc;
	visibility: hidden;
	z-index: 2;
	position: absolute;
	top: 100px;
	left: 100px;
}
.rightClickMenuItem{
	padding-right: 18px;
	padding-left: 18px;
	cursor: default;
}
.rightClickMenuItem:hover{
	background-color: #66f;
}
.nextPrevButton{
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	padding: 0px 3px 0px 3px;
}
#clearSelectionButton{
	float: left;
}


/*THE BUFFER PANEL*/
#bufferPanelTitle{
	text-align: center;
	padding-bottom: 0px;
	color: white;
	background-color: #59b;
	height: 19px;
	text-align: center;
	font-weight: bold;
	line-height: 18px;
	font-size: 15px;
}
.lbo{
	padding: 1px;
	padding-left: 5px;
}
#bufferPanel{
	position: absolute;
	top: 194px;
	left: 765px;
	background-color: lightblue;
	padding: 0px 0px 5px 0px;
	width: 190px;
	border: 2px solid lightblue;
	height: 461px;
}
#listBox{
	width: 170px;
	height: 395px;
	margin: 9.5px;
	font-family: Tahoma;
	font-size: 11.5px;
	padding-bottom: 10px;
}
.buttonContainer{
	padding-left: 10px;
}

/* THE SEARCH BOX */
label{
	margin-right: 3px;
	margin-left: 3px;
}
.searchBoxRow{
	height: 20px;
	margin-bottom: 9px;
}


/* Dialog Boxes */
#fullScreen{
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	float: left;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
}
.dialogBox{
	position: fixed;
	right: 0;
	left: 0;
	bottom: 300;
	visibility: hidden;
	width: 500px;
	height: 120px;
	z-index: 4;
	margin: auto;
	top: 1px;
	background-color: white;
	border: 1px solid grey;
}
.dialogBoxBig{
	position: fixed;
	right: 0;
	left: 0;
	bottom: 300;
	visibility: hidden;
	width: 500px;
	height: 200px;
	z-index: 4;
	margin: auto;
	top: 1px;
	background-color: white;
	border: 1px solid grey;
}
.dialogBoxHeader{
	color: white;
	font-weight: bold;
	padding: 3px;
	background-color: #59b;
}
.dialogBoxText{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}
.dialogBoxBody{
	margin: 8px;
}


/* The Menu Bar */
.menuBar{
	margin-bottom: 3px;
	height: 23px;
	background-color: white;
}
.menuButton{
	float: left;
	min-width: 70px;
	border: 1px #eee solid;
	background-color: white;
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
	margin-left: 1px;
}
.menuButton:hover{
	background-color: #aaa;
	cursor: default;
}
.dropdownMenu{
	visibility: hidden;
	background-color: #fff;
	border: 1px #eee solid;
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 50px;
	min-width: 190px;
	box-shadow: 2px 2px 2px #ccc;
	visibility: hidden;
	z-index: 2;
	position: absolute;
	top: 30px;
	left: 100px;
}
.dropdownMenuItem{
	padding-left: 10px;
	padding-right: 18px;
	cursor: default;
}
.dropdownMenuItem:hover{
	background-color: #aaa;
}


/*    THE ADDDATA DIALOG   */
/*#importDialog{
	height: 300px;
	width: 500px;
	position: fixed;
	top: 5;
	margin: auto;
	background-color: white;
	right: 0;
	left: 0;
	bottom:0;
	background-color: lightblue;
	border: grey solid 1px;
	border-radius: 0.3em;
	z-index: 2;	
	visibility: hidden;
}*/
#waitingImage{
	z-index: 5;
	position: fixed;
	right: 0;
	left: 0;
	margin: auto;
	top: 200px;	
	height: 35px;
	width: 190px;
	visibility: hidden;
	font-size: 10px;
	color: grey;
}