body{
	font-family: Calibri, Tahoma;
}
.all{
	margin: 0 auto;
	width: 800px;
	
}
.generalBox{
	background-color: lightblue;
	border-radius: 0.2em;
	
}
.searchBox{
	margin-bottom: 15px;
	padding: 10px;
	padding-bottom: 0px;
}
.mainTable{
	border-radius: 0em;
	margin-bottom: 15px;
	padding: 2px;
	font-size: 15px;
}
.pagination{
	margin: 0 auto;
	width: 200px;
}
.mainTableRow{
	background-color: white;
	margin-bottom: 1px;
	display: block;
	height: 24px;
	width: 796px;
}
.cell{
	float: left;
	width: 80px;
	margin-left: 2px;
	border-right: 1px solid lightblue;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
	white-space: nowrap;
}
.headRow{
	text-align: center;
	font-weight: bold;
	background-color: #59b;
	color: white;
}
.videoCell{
	width: 103px;
}



/* THE SEARCH BOX */
label{
	margin-right: 3px;
	margin-left: 3px;
}
.searchBoxRow{
	height: 20px;
	margin-bottom: 9px;
}

#importDialog{
	height: 500px;
	width: 400px;
	position: fixed;
	top: 5;
	margin: auto;
	background-color: white;
	right: 0;
	left: 0;
	bottom:0;
	background-color: lightblue;
	border: grey solid 1px;
	border-radius: 0.3em;
	z-index: 2;	
	visibility: hidden;
}

.centerDiv{
	text-align: center;
}

#button{
/*	position: absolute;
*/	}