{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'UATracker/style.css' %}" />
<script type="text/javascript" src="{% static 'UATracker/js/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'UATracker/js/general.js' %}" ></script>


<div class ="all"> 

<!-- THE MENU BAR -->
<div class="generalBox menuBar">
	<div class='menuButton' id='downloadMenuButton' onClick="showMenu('download')">Download</div>
	<div class='menuButton' id='tagsMenuButton' onClick="showMenu('tags')">Tags</div>
	<div class='menuButton' id='dataMenuButton' onClick="showMenu('data')">Data</div>	
	<div class='menuButton' id='viewMenuButton' onClick="showMenu('view')">View</div>
</div>



<!-- THE SEARCH BOX -->
<div class="generalBox searchBox">
	<form action="/whatever/" method="post" id="imageSearchForm">
    	{% csrf_token %}
    	<Table>
    	<tr>
    	<td>
	    	<div class="searchBoxRow">{{ form.theTitle.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.project.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.experiment.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.tag.label_tag }}</div>
    	</td>
    	<td style="padding-right: 60px;">
    		<div class="searchBoxRow">{{form.theTitle}}</div>
    		<div class="searchBoxRow">{{form.project}}</div>
    		<div class="searchBoxRow">{{form.experiment}}</div>
    		<div class="searchBoxRow">{{form.tag}}</div>
    	</td>
    	<td>
	    	<div class="searchBoxRow">{{ form.language.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.tracers.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.traced_by.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.autotraced.label_tag }}</div>
	    </td>
	    <td style="padding-right: 60px;">
    		<div class="searchBoxRow">{{form.language}}</div>
    		<div class="searchBoxRow">{{form.tracers}}</div>
    		<div class="searchBoxRow">{{form.traced_by}}</div>
    		<div class="searchBoxRow">{{form.autotraced}}</div>
    	</td>
    	<td style=" vertical-align: top;">
    		<div class="searchBoxRow">{{ form.word.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.segment.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.segcontext.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.show_only.label_tag }}</div>
	    </td>
	    <td style=" vertical-align: top;">
	    	<div class="searchBoxRow">{{form.word}}</div>
    		<div class="searchBoxRow">{{form.segment}}</div>
    		<div class="searchBoxRow">{{form.segcontext}}</div>
    		<div class="searchBoxRow">{{form.show_only}}</div>
    	</td>
    	</tr>
    	</Table>
    <input type="submit" value="Submit" />
    <button type="button" onClick="addSearchResultsToBP()" id="SRBP_button">Add results to Buffer Panel</button>
</form>
</div>
{{ tableCode |safe }}
<div id="bufferPanel">
	<div id="bufferPanelTitle">Buffer Panel</div>
	<select id="listBox" size=20>
		<!--
	    <option class="lbo" value="1" selected="selected">Selection 1</option>
	    <option class="lbo" value="2">Selection 2</option>
	    <option class="lbo" value="3">Selection 3</option>
	    -->
	</select>
	<div class="buttonContainer">
		<button type="button" onClick="removeSelected()">Remove</button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" onClick="clearBuffer()">Clear Buffer</button>
	</div> 
</div>
</div>




<!-- These are invisible boxes that are only displayed when needed: -->
<div id='rightClickMenu'>
	<div class='rightClickMenuItem' onClick="addToBuffer()">Add to buffer</div>
	<div class='rightClickMenuItem' onClick="rgtClkMenuTag()">Tag...</div>
	<div class='rightClickMenuItem' onClick="rgtClkMenuUntag()">Untag...</div>
	<div class='rightClickMenuItem' onClick="rgtClkMenuAddExp()">Add experiment...</div>
	<div class='rightClickMenuItem' onClick="rgtClkMenuRemoveExp()">Remove experiment...</div>
</div>

<div id='taggingDialog' class='dialogBox'>
	<div class='dialogBoxHeader'>Tag images...</div>
	<div class='dialogBoxBody'>
		<div class='dialogBoxText'>Insert the name of the tag you want to add to the images:</div>
		<input type="text" name="tagTextfield" id="tagTF">
		<br>
		<button type="button" onClick="tag()" id="tagButton">Submit</button>
		<button type="button" onClick="removeDialog()" id="cancel1">Cancel</button>
	</div>
</div>
<div id='untaggingDialog' class='dialogBox'>
	<div class='dialogBoxHeader'>Untag images...</div>
	<div class='dialogBoxBody'>
		<div class='dialogBoxText'>Insert the name of the tag you want to remove from the images:</div>
		<input type="text" name="tagTextfield" id="untagTF">
		<br>
		<button type="button" onClick="untag()" id="untagButton">Submit</button>
		<button type="button" onClick="removeDialog()" id="cancel2">Cancel</button>
	</div>
</div>
<div id='removeExpDialog' class='dialogBox'>
	<div class='dialogBoxHeader'>Remove experiments...</div>
	<div class='dialogBoxBody'>
		<div class='dialogBoxText'>Insert the name of the experiment you want to remove from the images:</div>
		<input type="text" name="tagTextfield" id="removeExpTF">
		<br>
		<button type="button" onClick="removeExp()" id="removeExpButton">Submit</button>
		<button type="button" onClick="removeDialog()" id="cancel3">Cancel</button>
	</div>
</div>
<div id='addExpDialog' class='dialogBox'>
	<div class='dialogBoxHeader'>Add experiments...</div>
	<div class='dialogBoxBody'>
		<div class='dialogBoxText'>Insert the name of the experiment you want to add to the images:</div>
		<input type="text" name="tagTextfield" id="addExpTF">
		<br>
		<button type="button" onClick="addExp()" id="addExpButton">Submit</button>
		<button type="button" onClick="removeDialog()" id="cancel4">Cancel</button>
	</div>
</div>
<div id='fullScreen'></div>
<div class='dropdownMenu' id='downloadMenu'>
	<div class='dropdownMenuItem'>Download buffer images</div>
	<div class='dropdownMenuItem'>Download buffer images with traces</div>
</div>
<div class='dropdownMenu' id='tagsMenu'>
	<div class='dropdownMenuItem' onClick='tagBuffer()'>Tag buffer images</div>
	<div class='dropdownMenuItem' onClick='untagBuffer()'>Untag buffer images</div>
	<div class='dropdownMenuItem' onClick='addExpBuffer()'>Add experiment to buffer images</div>
	<div class='dropdownMenuItem' onClick='removeExpBuffer()'>Remove experiment from buffer images</div>
</div>
<div class='dropdownMenu' id='dataMenu'>
	<div class='dropdownMenuItem'>Add standard project</div>
	<div class='dropdownMenuItem'>Add custom project</div>
	<div class='dropdownMenuItem'>Update standard project</div>
	<div class='dropdownMenuItem'>Remove project</div>
</div>
<div class='dropdownMenu' id='viewMenu'>
	<div class='dropdownMenuItem'>Option 1</div>
	<div class='dropdownMenuItem'>Option 2</div>
</div>