{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'UATracker/style.css' %}" />
<script type="text/javascript" src="{% static 'UATracker/js/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'UATracker/js/general.js' %}" ></script>

<div class="centerDiv">
	<button id ="button" type="button" onClick="openImport()">Import</button>
</div>

<div class ="all"> 

<!-- THE SEARCH BOX -->
<div class="generalBox searchBox">
	<form action="/whatever/" method="post" id="imageSearchForm">
    	{% csrf_token %}
    	<Table>
    	<tr>
    	<td>
	    	<div class="searchBoxRow">{{ form.theTitle.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.project.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.experiment.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.tag.label_tag }}</div>
    	</td>
    	<td style="padding-right: 60px;">
    		<div class="searchBoxRow">{{form.theTitle}}</div>
    		<div class="searchBoxRow">{{form.project}}</div>
    		<div class="searchBoxRow">{{form.experiment}}</div>
    		<div class="searchBoxRow">{{form.tag}}</div>
    	</td>
    	<td>
	    	<div class="searchBoxRow">{{ form.language.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.tracers.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.traced_by.label_tag }} </div>
	    	<div class="searchBoxRow">{{ form.autotraced.label_tag }}</div>
	    </td>
	    <td style="padding-right: 60px;">
    		<div class="searchBoxRow">{{form.language}}</div>
    		<div class="searchBoxRow">{{form.tracers}}</div>
    		<div class="searchBoxRow">{{form.traced_by}}</div>
    		<div class="searchBoxRow">{{form.autotraced}}</div>
    	</td>
    	<td style=" vertical-align: top;">
    		<div class="searchBoxRow">{{ form.word.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.segment.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.peripherals.label_tag }}</div>
	    	<div class="searchBoxRow">{{ form.show_only.label_tag }}</div>
	    </td>
	    <td style=" vertical-align: top;">
	    	<div class="searchBoxRow">{{form.word}}</div>
    		<div class="searchBoxRow">{{form.segment}}</div>
    		<div class="searchBoxRow">{{form.peripherals}}</div>
    		<div class="searchBoxRow">{{form.show_only}}</div>
    	</td>
    	</tr>
    	</Table>
    <input type="submit" value="Submit" />
</form>
</div>




{{ tableCode |safe }}

</div>


<div id="importDialog">
	<form action="/whatever/">
		<br><br><br>
		<div >
			Project Title: <input autofocus="autofocus" type="text" name="projectTitle"><br>
		</div><br>
		Language: <input type="text" name="projectLang"><br><br>
		Image Sequences:<br>

		<select id="imageSequences" name = "Image Sequences:" size="12" style="width: 200px;">
			<!-- {% for image in toImportList %}
				<option>{{image.getName}}</option>
			{% endfor %} -->
			<option>Example</option>
		</select>
		Preview goes here
		<br>
		<button type="button" onclick="deleteItem()">Delete</button>
		<input type="file" multiple accept="image/*" onchange="addFile()" id="addNew"><br>
		<input type="submit" value="Submit">
		<button type="button" onclick="closeImport()">Close</button>
	</form>



</div>