{% load extra_tags %}
<div id='midpagePanel'>
<!-- THE TABLE -->
<div class="generalBox mainTable" oncontextmenu="return false;">
	<div class="headRow">
		<div class="cell titleCell">Title</div>
		<div class="cell videoCell">Video</div>
		<div class="cell projectCell">Project</div>
		<div class="cell tracedByCell">Traced by</div>
		<div class="cell experimentCell">Experiment</div>
		<div class="cell tagCell">Tag</div>
		<div class="cell segmentsCell">Segments</div>
		<div class="cell wordCell">Word</div>
	</div>
{% for image in visibleItems %}
	{% autoescape off %}
	{% printAppropriateRowOpeningTag forloop.counter %}
	{% endautoescape %}
		<div class="cell titleCell">{{ image.title }}&nbsp;</div>
		<div class="cell videoCell">{{ image.video.title }}&nbsp;</div>
		<div class="cell projectCell">{{ image.video.project.title }}&nbsp;</div>
		<div class="cell tracedByCell">{{ image.getTracersList }}&nbsp;</div>
		<div class="cell experimentCell">{{ image.getExperimentList }}&nbsp;</div>
		<div class="cell tagCell">{{ image.getTagList }}&nbsp;</div>
		<div class="cell segmentsCell">{{ image.getSegmentSequenceColored |safe }}&nbsp;</div>
		<div class="cell wordCell">{{ image.word.spelling }}&nbsp;</div>
		<div style="visibility: hidden;">{{image.id}}</div>
    </div>
{% endfor %}

	<button type="button" id="clearSelectionButton" onClick="clearSelection()">Clear Selection</button>
	<!-- Pagination -->
	<div class="pagination">
    <span class="step-links">
        {% if visibleItems.has_previous %}
             <!-- <a href="{% url 'uatracker:imageList' visibleItems.previous_page_number %}?{{ urlrequest.urlencode }}">previous</a> -->
             <a class="nextPrevButton" id="prevButton" onClick="clickedOnNextOrPrev(-1)">previous</a>
        {% endif %}

        <span id="current">
            Page {{ visibleItems.number }} of {{ visibleItems.paginator.num_pages }}.
        </span>

        {% if visibleItems.has_next %}
            <!-- <a id="nextButton" href="{% url 'uatracker:imageList' visibleItems.next_page_number%}?{{ urlrequest.urlencode }}">next</a> -->
            <a class="nextPrevButton" id="nextButton" onClick="clickedOnNextOrPrev(1)">next</a>
        {% endif %}
    </span>
	</div>
</div>
</div>